/* Contact */
.contact {
  margin: 3rem 0 0;
}

.contact h2 {
  margin: 0 auto 1rem;
}

.sites {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .fa {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0.5rem;
  border: 2px solid var(--main);
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .fa:hover {
  transition-delay: 0.05s;
  transition-duration: 0.1s;
}

/* Footer */

.footer {
  text-align: center;
  font-weight: 700;
  margin: 0rem auto;
}
