/* Project */
.projectTitle {
  max-width: 35rem;
  margin: 0 auto;
}

/* Project holder */
.projectContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: var(--projectBackground);
  min-height: 35rem;
  height: 35rem;
  width: 33rem;
  /* min-width: 28.5rem; */
  padding: 1.2rem;
  margin: 1rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 0;
}

.project:hover {
  box-shadow: 0 2px 15px 1px var(--shadowProject);
  transition-delay: 0.2;
  transition: 0.2s;
  border: 2px solid var(--main);
}

/* Project content */
.project img {
  max-width: 100%;
  border: 1px solid #ccc;
  transition: 0.2s;
}

.project img:hover {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  transition-delay: 0.2s;
  transition: 0.2s;
}

.project h3 {
  color: var(--main);
  font-size: 1.3rem;
  margin: 0.6rem 0;
}

.project h3:hover {
  text-decoration: underline;
}

.project p {
  margin: 0;
}

/* Project content - last row */

.project-tech-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 1.2rem;
  left: 1.2rem;
  width: calc(100% - 2.4rem);
  margin: 0;
}

.project .github-button a {
  /* background-color: var(--projectBackground); */
  border: 2px var(--main) solid;
  padding: 0.2rem;
  margin: 0;
}

.project .github {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 0.3rem;
}

.project h4 {
  color: var(--secondaryText);
  margin: 0;
  font-weight: 700;
}

/* Comming soon placeholder card */
.comming-soon {
  color: var(--main);
  width: fit-content;
  padding: 2rem;
  border: 3px solid var(--main);
  text-align: center;
  font-size: 1.5em;
  font-weight: 400;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 580px) {
  .projectTitle {
    margin: 0 auto 0 0.5rem;
  }
}
