  /* Project */
  .projectTitle {
    max-width: 550px;
    margin: auto;
  }
  
  /* Project holder */
  .projectContent {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .project {
    background-color: var(--projectBackground);
    min-height: 500px;
    max-height: 1000px;
    width: 500px;
    min-width: 200px;
    padding: 20px;
    margin: 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 0;
  }
  
  .project:hover {
    box-shadow: 0 2px 15px 1px var(--shadowProject);
    transition-delay: 0.2;
    transition: 0.2s;
    border: 2px solid var(--main);
  }
  
  /* Project content */
  .project img {
    max-width: 100%;
    border:1px solid #ccc;
    transition: 0.2s;
  }
  
  .project img:hover {
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
    transition-delay: 0.2s;
    transition: 0.2s;
  }
  
  .project h3 {
    color: var(--main);
    font-size: 1.3rem;
    margin: 10px 0px;
  }
  
  .project h3:hover{
    text-decoration: underline;
  }
  
  .project p {
    margin: 0px;
  }
  
  /* Project content - last row */

  .project-tech-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin:0 -20px 0 -20px;
  }

  .project .github-button a {
    /* background-color: var(--projectBackground); */
    border: 2px var(--main) solid;
    padding: 2px 4px;
    margin: 5px 10px 5px 20px;
  }

  .project .github {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
  }

  .project h4 {
    color: var(--secondaryText);
    margin: 5px 20px 5px 10px ;
    font-weight: 700;
  }
  
  /* Comming soon placeholder card */
  .comming-soon{
    color: var(--main);
    width: fit-content;
    padding: 20px;
    border: 3px solid var(--main);
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  